:root {
  --white: #fff;
  --brand-color: #2196f3;
  --black: #000;
  --shadow: #2f303a;
  --shadow2: #212121;
}
body {
  color: #757575;
  background: var(--white);
  font-family: "Roboto", "raleway", sans-serif;
  font-weight: 400;
  margin: 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  height: 80px;
  display: flex;
  align-items: center;
  
  background: var(--white);
  border-bottom: 1px solid #ececec;  
}
.title {
  color: var(--brand-color);
}
.headline4 {
  font-weight: 700;
  line-height: 1.17;
  color: var(--black);
  margin-bottom: 10px;
}
.logo-link {
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--black);
  text-decoration: none;
}
.section1 {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--shadow);
}
.section {
  padding-bottom: 94px;
}
.headline1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white);
  margin: 0;
}

.list1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  list-style: none;
  color: var(--shadow2);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  width: 254px;
}
.navigation {
  display: flex;
  margin-left: 93px;
}
.list1-link {
  text-decoration: none;
  color: var(--shadow2);
}

.list1 :hover {
  color: var(--brand-color);
  text-decoration: none;
}
.list1 :focus {
  color: var(--brand-color);
  text-decoration: none;
}
.button1 {
  background: var(--brand-color);

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white);
  border-radius: 4px;
  border-style: none;
  height: 50px;
  width: 200px;
  margin-top: 30px;
}
.adres-list {
  display: flex;
  justify-content: space-between;
  line-height: 1.17;
  padding-left: 0%;
  margin-left: 371px;
}
.footer-adres-list {
  list-style: none;
  line-height: 1.17;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0%;
}
.mail {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.mail:hover {
  color: var(--brand-color);
  text-decoration: none;
}
.mail:focus {
  color: var(--brand-color);
  text-decoration: none;
}
.mail1:hover {
  color: var(--brand-color);
  text-decoration: none;
}
.mail1:focus {
  color: var(--brand-color);
  text-decoration: none;
}
.phone {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;

  color: #757575;
  text-decoration: none;
}
.phone:hover {
  color: var(--brand-color);
  text-decoration: none;
}
.phone:focus {
  color: var(--brand-color);
  text-decoration: none;
}
.phone1:hover {
  color: var(--brand-color);
  text-decoration: none;
}
.phone1:focus {
  color: var(--brand-color);
  text-decoration: none;
}

.headline2 {
  color: var(--black);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-top: 0px;
}
.list2 {
  list-style: none;
  text-align: left;
  line-height: 1.71;
  display: flex;
  
  padding-left: 0%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.list2 li {
  text-decoration: none;
}
.list2 li:nth-child(1n + 2) {
  margin-left: 30px;
}
.headline3 {
  color: var(--black);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  margin-top: 94px;
}
.list3 {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0%;
  margin-top: 50px;
}
.list3 li {
  text-decoration: none;
}
.list4 {
  text-align: center;
  list-style: none;
  display: flex;
  
  padding-left: 0%;
}
.list4 li {
  text-decoration: none;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.list4 li:nth-child(1n+2){margin-left: 30px;}
.figure {
  margin: 0;
  margin-bottom: 30px;
}
.figcaption {
  font-weight: 500;
  text-align: center;
  color: var(--black);
  line-height: 1.17;
  }
.figure-img{margin-bottom: 30px;}
.figcaption-p{margin-top: 10px;}
.section4 {
  background: #f5f4fa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 94px;
}
.footer1 {
  background: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;padding-bottom: 60px;
}
.footer-adress {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--white);
  display: flex;
  flex-direction: column;
}
.mail1 {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.phone1 {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.logo-link1 {
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-decoration: none;
}
.title1 {
  color: var(--white);
}

.section-buttons {
  list-style: none;

  text-align: center;
  display: flex;
  justify-content: center;
  padding-left: 0%;
  padding-top: 94px;
  padding-bottom: 30px;
}
.button1-1 {
  font-weight: 500;
  font-family: "Roboto";
  border-style: none;
  background: #f5f4fa;
  cursor: pointer;
  line-height: 1.62;
  border-radius: 0px 0px 4px 4px;
  padding: 6px 22px 6px 22px;
  margin-left: 8px;
}

.button1-1:hover {
  color: var(--white);
  background-color: var(--brand-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.button1-1:focus {
  color: var(--white);
  background-color: var(--brand-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.figcaption1 {
  font-family: "Roboto";
  font-weight: 700;
  color: var(--black);
}
.figcaption2 {
  font-family: "Roboto";
  font-weight: 700;
  color: var(--black);
  line-height: 2;
  margin-left: 24px;
}
.figcaption2-text {
  line-height: 1.87;
  margin-left: 24px;
  margin-bottom: 20px;
}
.adres-list {
  list-style: none;
}
.portfolio-section {
  display: flex;
}
.list1-2 {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;
}
.list1-2-figure {
  background: #ffffff;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.list1-2-figcaption {
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.logo-link:hover {
  color: var(--brand-color);
}
.logo-link:focus {
  color: var(--brand-color);
}
.logo-link1:hover {
  color: var(--white);
}
.logo-link1:focus {
  color: var(--white);
}
.img {
  display: block;
}
.adres-list li:first-child {
  margin-right: 50px;
}
.footer-adres-list li {
  margin-bottom: 9px;
}
ul {
  margin: 0.0.0.0;
  padding: 0.0.0.0;
}
h1 {
  margin: 0.0.0.0;
  padding: 0.0.0.0;
}
h2 {
  margin: 0.0.0.0;
  padding: 0.0.0.0;
}
h3 {
  margin: 0.0.0.0;
  padding: 0.0.0.0;

}
h4 {
  margin: 0.0.0.0;
  padding: 0.0.0.0;
}
p {
  margin: 0.0.0.0;
  padding: 0.0.0.0;
}